# Ignorer les dossiers .vscode
.vscode
src/.vscode

# Ignorer les fichier objets .o dans obj/
obj/*.o

# Ignorer les executables dan bin/
bin/pokefac

# Ignorer fichier de sauvegarde
data/saveGames/*

# Ignorer documentation Doxygen
doc/html

# Ignorer les logs
data/logs
